@use "../../assets/styles/Variables.module.scss" as v;

.Container {
  display: flex;
  justify-content: center;
  margin-top: -7rem;
  width: 100%;
  .CutOut {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    background-color: v.$section;
    padding: 38px;
    width: 75%;
    min-height: 277px;
    color: v.$header;

    h2 {
      margin-bottom: 20px;
      color: v.$header; // Mørkere farve til overskrifter
      font-size: 2.5rem;
      text-align: center;
    }

    .searchContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;

      input {
        margin-right: 10px;
        border: 2px solid v.$accent; // Bruger accent-farven til inputfeltets kant
        border-radius: 5px;
        padding: 10px;
        width: 300px;
        font-size: 1.2rem;
      }

      button {
        transition: background-color 0.3s ease;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: v.$accent;
        padding: 10px 20px;
        color: v.$section; // Lys farve til teksten
        font-size: 1.2rem;

        &:hover {
          background-color: v.$accent_dark; // Mørkere version ved hover
        }
      }
    }

    .resultContainer {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 1rem;
      background-color: v.$section;
      padding: 20px;
      color: v.$paragraph; // Sort tekst til indhold

      h2 {
        margin-bottom: 10px;
        color: v.$title; // Titelfarve
        font-size: 2rem;
      }

      .phonetics,
      .definitions {
        margin-bottom: 2rem;

        h4 {
          margin-bottom: 10px;
          color: v.$header; // Mørkere farve til underoverskrifter
          font-size: 1.5rem;
        }

        p {
          margin-bottom: 5px;
          font-size: 1.2rem;
        }

        audio {
          margin-top: 10px;
        }
      }

      .synonym,
      .antonym {
        transition: color 0.3s ease;
        cursor: pointer;
        margin-right: 5px;
        color: v.$accent; // Fremhæv links i accentfarve
        text-decoration: underline;

        &:hover {
          color: v.$accent_dark; // Mørkere ved hover
        }
      }
    }
  }
}
