@use "../../assets/styles/Variables.module.scss" as v;

.Container {
  display: flex;
  justify-content: center;
  margin-top: -7rem;
  width: 100%;
  .CutOut {
    border: 3px solid #000000;
    border-radius: 1rem;
    background-color: v.$section;
    padding: 38px;
    width: 75%;
    height: 277px;
    color: v.$header;
    h2 {
      font-size: 3rem;
      text-align: center;
    }
    div {
      input {
        display: flex;
        justify-content: center;
      }
    }
  }
}
