@use "../../assets/styles/Variables.module.scss" as v;

.Navbar {
  position: relative;
  background-color: v.$accent;


  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    li {
      padding: 1rem;
      a {
        text-align: center;
        font-weight: 300;
        font-size: 24px;
        color: v.$section;
        text-decoration: none;
      }
    }
  }
}
