@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Karma:wght@400;600&family=Marck+Script&display=swap");

* {
  font-style: normal;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
}

.card {
  font-style: normal;
  font-weight: 400;
  font-family: "Karma", serif;
}

.Logo {
  font-style: normal;
  font-weight: 400;
  font-family: "Marck Script", cursive;
}
